In [1]:
import pandas as pd

# Data from SG

In [2]:
df = pd.read_csv('/Users/julianeoliveira/Desktop/github/Datasets from the gitcomputations/Irece/sg_irece.csv',low_memory=False)

In [3]:
df.head()

,id,estadoNotificacao,estadoNotificacaoIBGE,municipioNotificacao,municipioNotificacaoIBGE,profissionalSaude,profissionalSeguranca,cbo,sexo,racaCor,...,condicoes,estadoTeste,dataTeste,tipoTeste,resultadoTeste,classificacaoFinal,evolucaoCaso,dataEncerramento,cnes,idade
0,aR35LpJ5Yu,Alagoas,NaN,Maceió,NaN,Não,Não,NaN,Masculino,Parda,...,NaN,Solicitado,NaN,NaN,NaN,NaN,NaN,NaN,2005808.0,66.0
1,wq6wsOpQAA,Alagoas,NaN,Maceió,NaN,Não,Não,NaN,Feminino,Parda,...,Doenças cardíacas crônicas,Exame Não Solicitado,NaN,NaN,NaN,NaN,NaN,NaN,2005727.0,29.0
2,nBLA0EFemN,Alagoas,NaN,Maceió,NaN,Não,Não,NaN,Masculino,Parda,...,NaN,Concluído,2020-06-05,TESTE RÁPIDO - ANTICORPO,Negativo,NaN,NaN,NaN,2005808.0,66.0
3,1zpeU1ElwN,Bahia,NaN,Salvador,NaN,Não,Não,NaN,Feminino,NaN,...,NaN,Solicitado,NaN,RT-PCR,NaN,Descartado,Cura,2020-10-15,3814378.0,38.0
4,DNhpq6ZMSp,Bahia,NaN,Irecê,NaN,Não,Não,NaN,Masculino,NaN,...,NaN,Solicitado,NaN,NaN,NaN,NaN,Cancelado,NaN,NaN,52.0

In [4]:
df['ones'] = 1

In [5]:
df.columns

Index(['id', 'estadoNotificacao', 'estadoNotificacaoIBGE',
       'municipioNotificacao', 'municipioNotificacaoIBGE', 'profissionalSaude',
       'profissionalSeguranca', 'cbo', 'sexo', 'racaCor', 'estado',
       'estadoIBGE', 'municipio', 'municipioIBGE', 'dataNotificacao',
       'sintomas', 'outrosSintomas', 'dataInicioSintomas', 'condicoes',
       'estadoTeste', 'dataTeste', 'tipoTeste', 'resultadoTeste',
       'classificacaoFinal', 'evolucaoCaso', 'dataEncerramento', 'cnes',
       'idade', 'ones'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32855 entries, 0 to 32854
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        32855 non-null  object
 1   estadoNotificacao         32855 non-null  object
 2   estadoNotificacaoIBGE     1805 non-null   object
 3   municipioNotificacao      32847 non-null  object
 4   municipioNotificacaoIBGE  1805 non-null   float64
 5   profissionalSaude         32848 non-null  object
 6   profissionalSeguranca     32663 non-null  object
 7   cbo                       2763 non-null   object
 8   sexo                      32855 non-null  object
 9   racaCor                   32517 non-null  object
 10  estado                    32849 non-null  object
 11  estadoIBGE                14317 non-null  object
 12  municipio                 32855 non-null  object
 13  municipioIBGE             32855 non-null  int64
 14  dataNotificacao           32842 non-null  object
 15  sintomas                  32848 non-null  object
 16  outrosSintomas            14848 non-null  object
 17  dataInicioSintomas        32465 non-null  object
 18  condicoes                 1348 non-null   object
 19  estadoTeste               31043 non-null  object
 20  dataTeste                 29317 non-null  object
 21  tipoTeste                 29946 non-null  object
 22  resultadoTeste            28800 non-null  object
 23  classificacaoFinal        30488 non-null  object
 24  evolucaoCaso              30863 non-null  object
 25  dataEncerramento          30453 non-null  object
 26  cnes                      22599 non-null  float64
 27  idade                     32854 non-null  float64
 28  ones                      32855 non-null  int64
dtypes: float64(3), int64(2), object(24)
memory usage: 7.3+ MB

In [7]:
df.filter(['estado','estadoIBGE', 'municipio', 'municipioIBGE']).head()

  estado estadoIBGE municipio  municipioIBGE
0  Bahia        NaN     Irecê        2914604
1  Bahia        NaN     Irecê        2914604
2  Bahia        NaN     Irecê        2914604
3  Bahia        NaN     Irecê        2914604
4  Bahia        NaN     Irecê        2914604

## Contagens de casos

In [8]:
df.filter(['estadoTeste', 'dataTeste', 'tipoTeste', 'resultadoTeste',
       'classificacaoFinal', 'evolucaoCaso',])

,estadoTeste,dataTeste,tipoTeste,resultadoTeste,classificacaoFinal,evolucaoCaso
0,Solicitado,NaN,NaN,NaN,NaN,NaN
1,Exame Não Solicitado,NaN,NaN,NaN,NaN,NaN
2,Concluído,2020-06-05,TESTE RÁPIDO - ANTICORPO,Negativo,NaN,NaN
3,Solicitado,NaN,RT-PCR,NaN,Descartado,Cura
4,Solicitado,NaN,NaN,NaN,NaN,Cancelado
...,...,...,...,...,...,...
32850,NaN,NaN,NaN,NaN,Descartado,Cura
32851,NaN,NaN,NaN,NaN,Descartado,Internado
32852,NaN,NaN,NaN,NaN,Descartado,Internado
32853,NaN,NaN,NaN,NaN,NaN,NaN
32854,NaN,NaN,NaN,NaN,Confirmado Laboratorial,Em tratamento domiciliar

### Padronização

In [9]:
df.estadoTeste=df.estadoTeste.replace({'Concluído': 0, 'Coletado': 1, 'Solicitado':2,'Exame Não Solicitado':3})

df.tipoTeste=df.tipoTeste.replace({'RT-PCR': 0, 'TESTE RÁPIDO - ANTICORPO': 1, 'TESTE RÁPIDO - ANTÍGENO':2,
                                   'Enzimaimunoensaio - ELISA IgM':3,'Quimioluminescência - CLIA':4,
                                  'Imunoensaio por Eletroquimioluminescência - ECLIA IgG':5,
                                  'Enzimaimunoensaio – ELISA':6})

df.resultadoTeste=df.resultadoTeste.replace({'Negativo': 0, 'Positivo': 1, 'Inconclusivo ou Indeterminado':88})

df.classificacaoFinal=df.classificacaoFinal.replace({'Descartado': 0, 'Confirmado Laboratorial': 1,
                                                     'Síndrome Gripal Não Especificada':2,
                                                     'Confirmado Clínico-Imagem':3,
                                                    'Confirmado Clínico-Epidemiológico':4,
                                                    'Confirmado por Critério Clínico':5})

df.estadoTeste=df.estadoTeste.fillna(99)
df.tipoTeste=df.tipoTeste.fillna(99)
df.resultadoTeste=df.resultadoTeste.fillna(99)
df.classificacaoFinal=df.classificacaoFinal.fillna(99)

In [10]:
df.estadoTeste.value_counts()

0.0     28910
99.0     1812
1.0       802
2.0       712
3.0       619
Name: estadoTeste, dtype: int64

In [41]:
# Porcentagem de caso suspeitos testados (estadoTeste = 0)*100/total de casos suspeitos 
28910*100/32855

87.99269517577233

In [12]:
df.tipoTeste.value_counts()

0.0     19034
1.0      6847
2.0      4038
99.0     2909
3.0        10
4.0         9
5.0         7
6.0         1
Name: tipoTeste, dtype: int64

In [13]:
df.resultadoTeste.value_counts()

0.0     19251
1.0      9464
99.0     4055
88.0       85
Name: resultadoTeste, dtype: int64

In [14]:
df.classificacaoFinal.value_counts()

0.0     19473
1.0      9462
99.0     2367
2.0      1532
3.0        11
4.0         7
5.0         3
Name: classificacaoFinal, dtype: int64

In [15]:
df.evolucaoCaso.value_counts()

Cura                        29354
Cancelado                     657
Em tratamento domiciliar      449
Óbito                         179
Ignorado                      140
Internado                      79
Internado em UTI                5
Name: evolucaoCaso, dtype: int64

In [17]:
data = df.groupby(['tipoTeste','estadoTeste','resultadoTeste','classificacaoFinal'])['ones'].count().reset_index()

In [35]:
# Contar casos que deram positivos na classificaçãomfinal ou pelo teste

data[(data.classificacaoFinal != 0) & (data.classificacaoFinal != 99)].ones.sum()

11015

In [39]:
data[(data.classificacaoFinal == 0) & (data.resultadoTeste == 1)].ones.sum()

96

In [40]:
11015+96 #casos confirmados

11111

In [42]:
11111 -9464

1647

In [44]:
(32855 - 11111)*100/32855

66.18170750266322

In [45]:
66.18 -100

-33.81999999999999